In [192]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [193]:
#load data
data=pd.read_csv(r"Melbourne_housing_FULL.csv")
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [194]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [195]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [196]:
data.describe(include='all')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
count,34857,34857,34857.000000,34857,2.724700e+04,34857,34857,34857,34856.000000,34856.000000,...,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,34854,26881.000000,26881.000000,34854,34854.000000
unique,351,34009,NaN,3,NaN,9,388,78,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33,NaN,NaN,8,NaN
top,Reservoir,5 Charles St,NaN,h,NaN,S,Jellis,28/10/2017,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Boroondara City Council,NaN,NaN,Southern Metropolitan,NaN
freq,844,6,NaN,23980,NaN,19744,3359,1119,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3675,NaN,NaN,11836,NaN
mean,NaN,NaN,3.031012,NaN,1.050173e+06,NaN,NaN,NaN,11.184929,3116.062859,...,1.624798,1.728845,593.598993,160.25640,1965.289885,NaN,-37.810634,145.001851,NaN,7572.888306
std,NaN,NaN,0.969933,NaN,6.414671e+05,NaN,NaN,NaN,6.788892,109.023903,...,0.724212,1.010771,3398.841946,401.26706,37.328178,NaN,0.090279,0.120169,NaN,4428.090313
min,NaN,NaN,1.000000,NaN,8.500000e+04,NaN,NaN,NaN,0.000000,3000.000000,...,0.000000,0.000000,0.000000,0.00000,1196.000000,NaN,-38.190430,144.423790,NaN,83.000000
25%,NaN,NaN,2.000000,NaN,6.350000e+05,NaN,NaN,NaN,6.400000,3051.000000,...,1.000000,1.000000,224.000000,102.00000,1940.000000,NaN,-37.862950,144.933500,NaN,4385.000000
50%,NaN,NaN,3.000000,NaN,8.700000e+05,NaN,NaN,NaN,10.300000,3103.000000,...,2.000000,2.000000,521.000000,136.00000,1970.000000,NaN,-37.807600,145.007800,NaN,6763.000000
75%,NaN,NaN,4.000000,NaN,1.295000e+06,NaN,NaN,NaN,14.000000,3156.000000,...,2.000000,2.000000,670.000000,188.00000,2000.000000,NaN,-37.754100,145.071900,NaN,10412.000000
max,NaN,NaN,16.000000,NaN,1.120000e+07,NaN,NaN,NaN,48.100000,3978.000000,...,12.000000,26.000000,433014.000000,44515.00000,2106.000000,NaN,-37.390200,145.526350,NaN,21650.000000

In [197]:
data.size

731997

In [198]:
data.shape

(34857, 21)

In [199]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [200]:
data.duplicated().sum()

1

In [201]:
data1=data.drop_duplicates()

In [202]:

data1.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
34853,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34854,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34855,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,False,True,True,False,False
34856,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [203]:
data1.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7609
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [204]:
data1.Bedroom2.unique()

array([ 2.,  3.,  4.,  6., nan,  1.,  5.,  7.,  0.,  8.,  9., 30., 20.,
       10., 16., 12.])

In [205]:
#Mean Imputation
mean=data1.Bedroom2.mean()
data1.Bedroom2.fillna(mean,inplace=True)

In [206]:
data1.Bedroom2.isnull().sum()

0

In [207]:
data1.Bathroom.unique()

array([ 1.,  2., nan,  3.,  7.,  4.,  0.,  5.,  6., 12.,  8.,  9.])

In [208]:
#Mean imputation
mean=data1.Bathroom.mean()
data1.Bathroom.fillna(mean,inplace=True)

In [209]:

data1.Bathroom.isnull().sum()

0

In [210]:
data1.corr()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.465238,0.271513,0.085890,0.819099,0.529234,0.393880,0.037402,0.156231,-0.012743,0.004871,0.103244,-0.071678
Price,0.465238,1.000000,-0.211384,0.044950,0.380414,0.379460,0.201803,0.032748,0.100754,-0.333306,-0.215607,0.197874,-0.059017
Distance,0.271513,-0.211384,1.000000,0.481567,0.239094,0.111909,0.241831,0.060864,0.076295,0.323035,-0.100414,0.200923,-0.018130
Postcode,0.085890,0.044950,0.481567,1.000000,0.080398,0.108109,0.067885,0.040665,0.042436,0.089800,-0.231026,0.362901,0.017111
Bedroom2,0.819099,0.380414,0.239094,0.080398,1.000000,0.614785,0.388492,0.037018,0.154159,-0.002017,0.003433,0.105772,-0.045787
Bathroom,0.529234,0.379460,0.111909,0.108109,0.614785,1.000000,0.307520,0.036340,0.147554,0.167862,-0.058929,0.106032,-0.028134
Car,0.393880,0.201803,0.241831,0.067885,0.388492,0.307520,1.000000,0.037830,0.104371,0.128688,-0.009018,0.047200,-0.009611
Landsize,0.037402,0.032748,0.060864,0.040665,0.037018,0.036340,0.037830,1.000000,0.354532,0.044484,0.025317,-0.002579,-0.018197
BuildingArea,0.156231,0.100754,0.076295,0.042436,0.154159,0.147554,0.104371,0.354532,1.000000,0.067758,0.017158,-0.002160,-0.024516
YearBuilt,-0.012743,-0.333306,0.323035,0.089800,-0.002017,0.167862,0.128688,0.044484,0.067758,1.000000,0.091606,-0.022261,0.022456
Lattitude,0.004871,-0.215607,-0.100414,-0.231026,0.003433,-0.058929,-0.009018,0.025317,0.017158,0.091606,1.000000,-0.345592,0.011108
Longtitude,0.103244,0.197874,0.200923,0.362901,0.105772,0.106032,0.047200,-0.002579,-0.002160,-0.022261,-0.345592,1.000000,0.016357
Propertycount,-0.071678,-0.059017,-0.018130,0.017111,-0.045787,-0.028134,-0.009611,-0.018197,-0.024516,0.022456,0.011108,0.016357,1.000000

In [211]:
#random Sample Imputation 
data1['Car_random']=data1['Car']
random_sample = data1['Car'].dropna().sample(data1.Car.isnull().sum(),random_state=0)
#random_sample
random_sample.index=data1[data1['Car'].isnull()].index
data1.loc[data1.Car.isnull(),'Car_random']=random_sample
data1.drop('Car',axis=1,inplace=True)

In [212]:
data1.Car_random.isnull().sum()

0

In [213]:
data['Landsize'] = data['Landsize'].fillna(data.Landsize.mean())

In [214]:
#random Sample Imputation 
#data1['BuildingArea_random']= data1['BuildingArea']
#random_sample = data1['BuildingArea'].dropna().sample(data1['BuildingArea'].isnull().sum(),random_state=0)

#random_sample
##pandas need to have same index in order to merge the dataset
#random_sample.index=data1[data1['BuildingArea'].isnull()].index
#data1.loc[data1.BuildingArea.isnull(),'BuildingArea_random']=random_sample

In [215]:
data1['Landsize'] = data1['Landsize'].fillna(data1.Landsize.mean())
data1['BuildingArea'] = data1['BuildingArea'].fillna(data1.BuildingArea.mean())
data1['YearBuilt'] = data1['YearBuilt'].fillna(data1.YearBuilt.mean())
data1.CouncilArea = data1.CouncilArea.fillna(0)
data1['Lattitude'] = data1['Lattitude'].fillna(data1.Lattitude.mean())
data1['Longtitude'] = data1['Longtitude'].fillna(data1.Longtitude.mean())
data1['Regionname'] = data1['Regionname'].fillna(data1.Regionname.mode()[0])
data1.Propertycount = data1.Propertycount.fillna(0)
data1.Postcode=data1.Postcode.fillna(0)
data1.Distance=data1['Distance'].fillna(data1.Distance.mean())

In [216]:
data1.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            7609
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea         0
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
Car_random          0
dtype: int64

In [217]:
data1.dropna(inplace=True)

In [218]:
data1.shape

(27247, 21)

In [219]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27247 entries, 1 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27247 non-null  object
 1   Address        27247 non-null  object
 2   Rooms          27247 non-null  int64
 3   Type           27247 non-null  object
 4   Price          27247 non-null  float64
 5   Method         27247 non-null  object
 6   SellerG        27247 non-null  object
 7   Date           27247 non-null  object
 8   Distance       27247 non-null  float64
 9   Postcode       27247 non-null  float64
 10  Bedroom2       27247 non-null  float64
 11  Bathroom       27247 non-null  float64
 12  Landsize       27247 non-null  float64
 13  BuildingArea   27247 non-null  float64
 14  YearBuilt      27247 non-null  float64
 15  CouncilArea    27247 non-null  object
 16  Lattitude      27247 non-null  float64
 17  Longtitude     27247 non-null  float64
 18  Regionname     27247 non-null  object
 19  Propertycount  27247 non-null  float64
 20  Car_random     27247 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 4.6+ MB

In [220]:
# Frequency or count Encoding: Imputing Suburb
data1.Suburb.nunique()

345

In [221]:
data1.Suburb.value_counts()

Reservoir         727
Bentleigh East    493
Richmond          439
Preston           415
Brunswick         387
                 ...
Coldstream          1
Ferny Creek         1
Kalkallo            1
viewbank            1
Wandin North        1
Name: Suburb, Length: 345, dtype: int64

In [222]:
Suburb_map = data1['Suburb'].value_counts().to_dict()
Suburb_map

{'Reservoir': 727,
 'Bentleigh East': 493,
 'Richmond': 439,
 'Preston': 415,
 'Brunswick': 387,
 'Essendon': 361,
 'Northcote': 345,
 'Glenroy': 342,
 'South Yarra': 328,
 'Glen Iris': 323,
 'Brighton': 317,
 'Kew': 313,
 'Hawthorn': 310,
 'Pascoe Vale': 308,
 'Coburg': 305,
 'St Kilda': 303,
 'Balwyn North': 297,
 'Camberwell': 280,
 'Bentleigh': 273,
 'Port Melbourne': 268,
 'Thornbury': 267,
 'Brighton East': 266,
 'Yarraville': 250,
 'Moonee Ponds': 243,
 'Carnegie': 230,
 'Balwyn': 224,
 'Malvern East': 223,
 'Footscray': 221,
 'Ascot Vale': 221,
 'Hampton': 220,
 'Prahran': 212,
 'Keilor East': 212,
 'Newport': 211,
 'Craigieburn': 211,
 'Brunswick West': 206,
 'Doncaster': 204,
 'Elwood': 201,
 'Surrey Hills': 201,
 'Hawthorn East': 194,
 'Maribyrnong': 193,
 'Sunshine': 182,
 'Kensington': 180,
 'Templestowe Lower': 177,
 'Williamstown': 175,
 'Toorak': 172,
 'Fawkner': 172,
 'Ivanhoe': 170,
 'Sunshine West': 170,
 'Mount Waverley': 169,
 'West Footscray': 168,
 'Mill Park': 158,
 'Burwood': 157,
 'Brunswick East': 152,
 'Melbourne': 151,
 'Hoppers Crossing': 151,
 'Armadale': 151,
 'Airport West': 151,
 'Maidstone': 151,
 'Strathmore': 150,
 'Epping': 149,
 'South Melbourne': 149,
 'Fitzroy North': 149,
 'Avondale Heights': 148,
 'Werribee': 146,
 'Cheltenham': 145,
 'Altona North': 143,
 'Glen Waverley': 140,
 'Murrumbeena': 140,
 'Sunbury': 140,
 'Niddrie': 134,
 'Bundoora': 131,
 'Bulleen': 130,
 'Ormond': 126,
 'Sunshine North': 125,
 'Heidelberg Heights': 122,
 'Rosanna': 121,
 'Doncaster East': 121,
 'North Melbourne': 121,
 'Coburg North': 120,
 'Malvern': 118,
 'Greensborough': 118,
 'Oak Park': 115,
 'Clifton Hill': 111,
 'Oakleigh South': 111,
 'Moorabbin': 110,
 'Ashburton': 109,
 'Altona': 109,
 'Heidelberg West': 106,
 'Fitzroy': 106,
 'Elsternwick': 104,
 'Abbotsford': 102,
 'Kew East': 98,
 'Flemington': 98,
 'St Albans': 98,
 'Croydon': 98,
 'Ashwood': 96,
 'Point Cook': 96,
 'Seddon': 95,
 'Mitcham': 94,
 'Mentone': 94,
 'Collingwood': 93,
 'Albert Park': 93,
 'Highett': 92,
 'Frankston': 91,
 'South Morang': 90,
 'Lalor': 89,
 'Hadfield': 88,
 'Hampton East': 87,
 'Watsonia': 87,
 'Canterbury': 85,
 'Mernda': 84,
 'Box Hill': 84,
 'Caulfield South': 84,
 'Chadstone': 83,
 'Thomastown': 83,
 'Windsor': 83,
 'Beaumaris': 82,
 'Braybrook': 81,
 'Parkdale': 80,
 'Mont Albert': 80,
 'Broadmeadows': 79,
 'Heidelberg': 79,
 'Carlton': 78,
 'Eltham': 78,
 'Oakleigh': 78,
 'Viewbank': 76,
 'Carlton North': 76,
 'Mulgrave': 76,
 'Greenvale': 75,
 'Roxburgh Park': 74,
 'Sandringham': 73,
 'Fairfield': 72,
 'Templestowe': 71,
 'Aberfeldie': 70,
 'Hillside': 67,
 'Albion': 67,
 'Caulfield North': 66,
 'Wheelers Hill': 65,
 'MacLeod': 64,
 'Kingsville': 63,
 'Alphington': 62,
 'Blackburn': 61,
 'Hughesdale': 60,
 'Ringwood': 60,
 'Southbank': 59,
 'Taylors Lakes': 58,
 'Montmorency': 57,
 'Nunawading': 56,
 'Melton South': 56,
 'Ferntree Gully': 56,
 'Mordialloc': 56,
 'Middle Park': 54,
 'Wyndham Vale': 53,
 'Balaclava': 52,
 'Meadow Heights': 52,
 'Wollert': 52,
 'West Melbourne': 51,
 'Forest Hill': 50,
 'Gladstone Park': 50,
 'Noble Park': 50,
 'Parkville': 49,
 'Glen Huntly': 49,
 'Jacana': 48,
 'Spotswood': 47,
 'Wantirna South': 47,
 'Tullamarine': 47,
 'Dingley Village': 45,
 'Yallambie': 45,
 'Dandenong North': 44,
 'Essendon North': 43,
 'Gowanbrae': 43,
 'Keilor Downs': 43,
 'Boronia': 42,
 'Ivanhoe East': 42,
 'Dandenong': 42,
 'Westmeadows': 42,
 'Donvale': 41,
 'Heathmont': 41,
 'Deer Park': 41,
 'Burwood East': 40,
 'Frankston South': 40,
 'Seaford': 40,
 'Wantirna': 40,
 'Eaglemont': 40,
 'Berwick': 39,
 'Edithvale': 39,
 'Mooroolbark': 39,
 'Blackburn North': 38,
 'Cremorne': 38,
 'Springvale': 38,
 'Tarneit': 37,
 'Blackburn South': 36,
 'Ringwood East': 36,
 'Kingsbury': 36,
 'East Melbourne': 36,
 'Brooklyn': 35,
 'Doreen': 35,
 'Keilor Park': 35,
 'Essendon West': 35,
 'Clayton': 35,
 'Vermont': 34,
 'Bayswater': 34,
 'Dallas': 34,
 'Kealba': 34,
 'Clayton South': 33,
 'Rowville': 33,
 'Chelsea': 33,
 'Taylors Hill': 32,
 'Vermont South': 32,
 'McKinnon': 31,
 'South Kingsville': 30,
 'Melton': 30,
 'Melton West': 29,
 'Black Rock': 29,
 'Williamstown North': 28,
 'Aspendale': 28,
 'Ringwood North': 28,
 'Oakleigh East': 28,
 'Keysborough': 27,
 'Caroline Springs': 27,
 'Altona Meadows': 26,
 'Bellfield': 26,
 'Diamond Creek': 26,
 'Sydenham': 26,
 'Carrum': 24,
 'Watsonia North': 24,
 'Carrum Downs': 23,
 'Gisborne': 23,
 'Ardeer': 23,
 'Croydon North': 22,
 'Endeavour Hills': 22,
 'Lower Plenty': 21,
 'Keilor': 20,
 'Cairnlea': 20,
 'Briar Hill': 20,
 'Truganina': 20,
 'Doveton': 19,
 'Caulfield East': 19,
 'Clarinda': 19,
 'Eltham North': 19,
 'Kilsyth': 19,
 'Chelsea Heights': 19,
 'Delahey': 19,
 'Seaholme': 18,
 'Bayswater North': 18,
 'Knoxfield': 17,
 'Campbellfield': 17,
 'Princes Hill': 17,
 'Ripponlea': 17,
 'Aspendale Gardens': 16,
 'Caulfield': 16,
 'Narre Warren': 16,
 'Kings Park': 15,
 'Derrimut': 15,
 'Langwarrin': 15,
 'Travancore': 15,
 'Pakenham': 15,
 'Attwood': 13,
 'Strathmore Heights': 13,
 'Bonbeach': 13,
 'Frankston North': 13,
 'Croydon Hills': 13,
 'Scoresby': 13,
 'Kurunjang': 13,
 'Warrandyte': 12,
 'Burnley': 12,
 'Gardenvale': 12,
 'Wallan': 11,
 'Cranbourne': 11,
 'Huntingdale': 11,
 'Croydon South': 11,
 'St Helena': 10,
 'Burnside Heights': 10,
 'Plumpton': 10,
 'Coolaroo': 10,
 'Chirnside Park': 9,
 'Albanvale': 9,
 'Hallam': 9,
 'Notting Hill': 9,
 'Springvale South': 8,
 'Kooyong': 8,
 'Mickleham': 8,
 'Diggers Rest': 8,
 'Burnside': 7,
 'Deepdene': 7,
 'Williams Landing': 7,
 'Docklands': 7,
 'Laverton': 6,
 'Seabrook': 6,
 'Patterson Lakes': 6,
 'Lilydale': 6,
 'Research': 6,
 'Bullengarook': 5,
 'North Warrandyte': 5,
 'Heatherton': 5,
 'Keilor Lodge': 5,
 'Hampton Park': 5,
 'New Gisborne': 5,
 'Whittlesea': 4,
 'Riddells Creek': 4,
 'Brookfield': 4,
 'The Basin': 4,
 'Mount Evelyn': 4,
 'Officer': 4,
 'Cranbourne West': 4,
 'Bacchus Marsh': 4,
 'Waterways': 4,
 'Skye': 4,
 'Rockbank': 4,
 'Eumemmerring': 3,
 'Sandhurst': 3,
 'Emerald': 3,
 'Cranbourne North': 3,
 'Clyde North': 3,
 'Warranwood': 3,
 'Beaconsfield Upper': 2,
 'Werribee South': 2,
 'Wonga Park': 2,
 'Gisborne South': 2,
 'Upwey': 2,
 'Plenty': 2,
 'Healesville': 2,
 'Silvan': 2,
 'Hurstbridge': 2,
 'Beaconsfield': 2,
 'Lynbrook': 2,
 'Wattle Glen': 2,
 'Monbulk': 1,
 'Fawkner Lot': 1,
 'Cranbourne East': 1,
 'Montrose': 1,
 'croydon': 1,
 'Bulla': 1,
 'Yarra Glen': 1,
 'Tecoma': 1,
 'Lysterfield': 1,
 'Wildwood': 1,
 'Botanic Ridge': 1,
 'Darley': 1,
 'Eynesbury': 1,
 'Coldstream': 1,
 'Ferny Creek': 1,
 'Kalkallo': 1,
 'viewbank': 1,
 'Wandin North': 1}

In [223]:
data1['Suburb'] = data1['Suburb'].map(Suburb_map)
data1.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Car_random
1,102,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.000000,202.000000,160.251616,1965.287653,Yarra City Council,-37.799600,144.998400,Northern Metropolitan,4019.0,1.0
2,102,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.000000,156.000000,79.000000,1900.000000,Yarra City Council,-37.807900,144.993400,Northern Metropolitan,4019.0,0.0
4,102,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.000000,134.000000,150.000000,1900.000000,Yarra City Council,-37.809300,144.994400,Northern Metropolitan,4019.0,0.0
5,102,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.000000,94.000000,160.251616,1965.287653,Yarra City Council,-37.796900,144.996900,Northern Metropolitan,4019.0,1.0
6,102,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.000000,120.000000,142.000000,2014.000000,Yarra City Council,-37.807200,144.994100,Northern Metropolitan,4019.0,2.0
10,102,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.000000,181.000000,160.251616,1965.287653,Yarra City Council,-37.804100,144.995300,Northern Metropolitan,4019.0,0.0
11,102,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.000000,245.000000,210.000000,1910.000000,Yarra City Council,-37.802400,144.999300,Northern Metropolitan,4019.0,0.0
14,102,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.000000,256.000000,107.000000,1890.000000,Yarra City Council,-37.806000,144.995400,Northern Metropolitan,4019.0,2.0
15,102,217 Langridge St,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,...,1.624747,593.607177,160.251616,1965.287653,Yarra City Council,-37.810634,145.001845,Northern Metropolitan,4019.0,0.0
16,102,18a Mollison St,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,...,1.624747,593.607177,160.251616,1965.287653,Yarra City Council,-37.810634,145.001845,Northern Metropolitan,4019.0,1.0

In [224]:
#Address Encoding:(Frequency Encoding)
data1.Address.nunique()

26751

In [225]:
data1.Address.value_counts()

5 Charles St         4
13 George St         3
36 Aberfeldie St     3
13 Robinson St       3
53 William St        3
                    ..
18 Barries Pl        1
20 Ivanhoe Av        1
74 Roycroft Av       1
3/13 Sylvester St    1
6/59 Albion St       1
Name: Address, Length: 26751, dtype: int64

In [226]:
Address_map = data1.Address.value_counts().to_dict()
Address_map

{'5 Charles St': 4,
 '13 George St': 3,
 '36 Aberfeldie St': 3,
 '13 Robinson St': 3,
 '53 William St': 3,
 '16 Smith St': 3,
 '5 Margaret St': 3,
 '7 Churchill Av': 3,
 '14 Northcote St': 3,
 '14 James St': 3,
 '28 Blair St': 3,
 '1/1 Clarendon St': 3,
 '12 Mirams St': 3,
 '14 Rose St': 3,
 '2 Bruce St': 3,
 '14 Arthur St': 3,
 '25 William St': 3,
 '2/13 Walker St': 2,
 '38 Whalley St': 2,
 '15 George St': 2,
 '8 Monash Av': 2,
 '2/7 Gordon St': 2,
 '24/18 Station Rd': 2,
 '84 May St': 2,
 '46 Chapel St': 2,
 '1 Daisy St': 2,
 '20 Butler St': 2,
 '30 Allendale Rd': 2,
 '6 Hamilton St': 2,
 '7A Downland Sq': 2,
 '35 Queen Cct': 2,
 '2/26 Renown St': 2,
 '105 Mitford St': 2,
 '14 Lennox St': 2,
 '8 Outlook Dr': 2,
 '2/52 Railway Pde': 2,
 '9 Katta Ct': 2,
 '1 Seaholme Av': 2,
 '2/619 Toorak Rd': 2,
 '13 Wood St': 2,
 '3 Diosma Ct': 2,
 '27 Edward St': 2,
 '3 Clive Ct': 2,
 '105/2 Beavers Rd': 2,
 '65 Graham St': 2,
 '43 Ballantyne St': 2,
 '3 Donald St': 2,
 '41 Helston St': 2,
 '1 Walter St': 2,
 '5/29 Pine St': 2,
 '3 Ellsa St': 2,
 '3/39 Dover St': 2,
 '9 Queen St': 2,
 '5/35 Kingsville St': 2,
 '43A Wallace Av': 2,
 '7 Gladstone St': 2,
 '243 Graham St': 2,
 '35 Shelley St': 2,
 '60 Cummins Rd': 2,
 '18 Church Rd': 2,
 '2/17 Greene St': 2,
 '5 Aroona Ct': 2,
 '4 Caroline Dr': 2,
 '15 Ellendale St': 2,
 '10/9 Westbank Tce': 2,
 '2 Celia St': 2,
 '63 Chute St': 2,
 '2/20 Lyndhurst Cr': 2,
 '75 Graham St': 2,
 '112 Belmore Rd': 2,
 '16/43 Arndt Rd': 2,
 '11 Simon Ct': 2,
 '7 Brisbane St': 2,
 '3/11 Lincoln Pl': 2,
 '119 Park St': 2,
 '29 Monash St': 2,
 '35 Bordeaux St': 2,
 '34 Green St': 2,
 '9/11 Smith St': 2,
 '9 Lantana St': 2,
 '3/19 Herbert St': 2,
 '14 Baker St': 2,
 '81 Carter St': 2,
 '37 William St': 2,
 '172 Rossmoyne St': 2,
 '71/503 Orrong Rd': 2,
 '10/17 Gordon St': 2,
 '16/341 Heidelberg Rd': 2,
 '3 Kendall St': 2,
 '19 Oxford St': 2,
 '19 Gordon Gr': 2,
 '39 Elizabeth St': 2,
 '41 Cameron St': 2,
 '2 Tudor Ct': 2,
 '20 Scotia St': 2,
 '4 Bell St': 2,
 '11 Harrington Rd': 2,
 '46 Roslyn St': 2,
 '8 Perth Ct': 2,
 '13 Curtin Av': 2,
 '13 Willonga St': 2,
 '28 Guildford Rd': 2,
 '3 Besant St': 2,
 '6 Hilda St': 2,
 '25 Hilda St': 2,
 '41 Leura Gr': 2,
 '18 Bluff St': 2,
 '30 Nancy St': 2,
 '20 McCarron Pde': 2,
 '21 Princess St': 2,
 '219b Gooch St': 2,
 '6 Avon Ct': 2,
 '26 Headingley Rd': 2,
 '15 Charles St': 2,
 '2/1129 Whitehorse Rd': 2,
 '6 Robinson St': 2,
 '7/39 Davies St': 2,
 '2/60 Kororoit Creek Rd': 2,
 '24 Ross St': 2,
 '4/33 North Rd': 2,
 '99 Neill St': 2,
 '17 Hartington St': 2,
 '18 Pitt St': 2,
 '6 Rose St': 2,
 '12 John St': 2,
 '26A Bonny St': 2,
 '77b Stockdale Av': 2,
 '15 Yarra St': 2,
 '69 Victoria St': 2,
 '2/54 Pender St': 2,
 '36 Belford Rd': 2,
 '3 Karen Ct': 2,
 '11 George St': 2,
 '9/44 Fletcher St': 2,
 '53 Mason St': 2,
 '12 Athol St': 2,
 '23 Acheron Av': 2,
 '23 Merton St': 2,
 '44 Granite Wy': 2,
 '9 Albert St': 2,
 '1/44 Arthur St': 2,
 '26/46 Lansell Rd': 2,
 '60 Hamilton St': 2,
 '7 Laurel Av': 2,
 '34 Soudan St': 2,
 '2 Finch St': 2,
 '443 Punt Rd': 2,
 '176 Albert St': 2,
 '25 View St': 2,
 '6/37 Stephen St': 2,
 '11 Dawson Av': 2,
 '122 Stephen St': 2,
 '72b Beaumaris Pde': 2,
 '7 Victoria St': 2,
 '7 Wallace St': 2,
 '41 White Av': 2,
 '24 Butler St': 2,
 '1/16 Osborne Av': 2,
 '80 South Rd': 2,
 '40 Carlton St': 2,
 '72 Bishop St': 2,
 '48 Greeves St': 2,
 '8/2 Pottery Ct': 2,
 '2/36 Selwyn St': 2,
 '23 Flinders St': 2,
 '18 William St': 2,
 '6 Daley St': 2,
 '4 Barry St': 2,
 '50 Leinster Gr': 2,
 '39 York St': 2,
 '58 Station St': 2,
 '23 Moore St': 2,
 '21 Wurruk Av': 2,
 '44 Alexander St': 2,
 '3/68 Madden St': 2,
 '173/350 St Kilda Rd': 2,
 '10 Lakeside Cr': 2,
 '7 Garnet St': 2,
 '13 Maroondah Rd': 2,
 '27a Bruce St': 2,
 '1 Trinian St': 2,
 '12 Witchwood Cl': 2,
 '2/9 Grace St': 2,
 '74 Clarendon St': 2,
 '388b Station St': 2,
 '33 Oxford St': 2,
 '17 Gordon St': 2,
 '33 Power St': 2,
 '22 Atkinson St': 2,
 '14 Collins St': 2,
 '353a Mascoma St': 2,
 '10 Bowen St': 2,
 '22 Henderson St': 2,
 '10 James St': 2,
 '22/29 Dickens St': 2,
 '16 Margaret St': 2,
 '17 Ramleh Rd': 2,
 '2/27 Pakington St': 2,
 '5/305 Riversdale Rd': 2,
 '3/14 Edgar St': 2,
 '7 Pumice Ct': 2,
 '21 Dean St': 2,
 '2/16 Westminster St': 2,
 '24 Brennan St': 2,
 '6/13 Alexander St': 2,
 '3/29 Burns St': 2,
 '5 Field St': 2,
 '97 The Crescent': 2,
 '58 Herbert St': 2,
 '702 Barkly St': 2,
 '10/2 Howlett St': 2,
 '4/339 Union Rd': 2,
 '26 Bell St': 2,
 '249 Punt Rd': 2,
 '27 The Avenue': 2,
 '3/94 Purinuan Rd': 2,
 '103 Pleasant Rd': 2,
 '2 McMahon Ct': 2,
 '10 Beryl St': 2,
 '57 Charles St': 2,
 '73 Argyle St': 2,
 '6 Chester St': 2,
 '79 New Rd': 2,
 '171 The Avenue': 2,
 '18 Elizabeth St': 2,
 '33 McCracken St': 2,
 '3 David Rd': 2,
 '20 Finlayson St': 2,
 '54 Victoria St': 2,
 '25 The Avenue': 2,
 '23/14 Horizon Dr': 2,
 '52 Langs Rd': 2,
 '9/99 Barton St': 2,
 '124 Fyffe St': 2,
 '20 Charles St': 2,
 '2/20 Bristol Rd': 2,
 '15 Alberta St': 2,
 '2/15 Lebanon St': 2,
 '15/1 Manna Gum Ct': 2,
 '2 Louise Ct': 2,
 '66 Palmerston St': 2,
 '17 Sutherland St': 2,
 '5 Thomas St': 2,
 '219a Gooch St': 2,
 '1 Diana Dr': 2,
 '44 William St': 2,
 '3/15 Mitchell St': 2,
 '21 Hatherley Gr': 2,
 '406/152 Sturt St': 2,
 '11 Kenilworth Gr': 2,
 '197 Banksia St': 2,
 '21 Alexander St': 2,
 '5 Smith St': 2,
 '21 Reid St': 2,
 '13 Burns St': 2,
 '5/19 Elm St': 2,
 '23 Byron St': 2,
 '4 Lord St': 2,
 '14 Hartington St': 2,
 '11 Stephens St': 2,
 '16/745 Barkly St': 2,
 '24 Florence St': 2,
 '34 Essex St': 2,
 '47 Clifton St': 2,
 '19 Collins St': 2,
 '24 Mitchell St': 2,
 '3/164 Nicholson St': 2,
 '118 Westgarth St': 2,
 '17 Windsor Av': 2,
 '14 Herbert St': 2,
 '25 George St': 2,
 '40 Whyte St': 2,
 '17 Stanley St': 2,
 '3 Brian St': 2,
 '88a Ballarat Rd': 2,
 '5 Charlton St': 2,
 '16 Park Rd': 2,
 '27 Tate Av': 2,
 '3 Myrtle St': 2,
 '19 Charles St': 2,
 '2/13 Cartwright St': 2,
 '97 Edwin St': 2,
 '8 Jeffrey St': 2,
 '6 The Avenue': 2,
 '1/108 Truganini Rd': 2,
 '39 Sandpiper Pl': 2,
 '2/15 Phoenix St': 2,
 '2/19 Glanfield St': 2,
 '2a Hillside Cr': 2,
 '1/26 York St': 2,
 '20 Fawkner St': 2,
 '7/129 Hoddle St': 2,
 '15 Westgarth St': 2,
 '54 Charles St': 2,
 '2/12 Ashby Gr': 2,
 '3 Wilson Mw': 2,
 '4 Adelaide St': 2,
 '12 Grandview Av': 2,
 '15 Millis Av': 2,
 '1/25 Murray Rd': 2,
 '44 Power Av': 2,
 '4/9 West Ct': 2,
 '4 Turner Ct': 2,
 '2/481 Bluff Rd': 2,
 '31 Raleigh St': 2,
 '13 Cortina Pl': 2,
 '2 Hampton Ct': 2,
 '101 The Fairway': 2,
 '16 Coronation St': 2,
 '8 Brogil Wk': 2,
 '79 Lincoln Rd': 2,
 '23 Viewbank Dr': 2,
 '8 Selwyn St': 2,
 '30 Abbott St': 2,
 '45 Stanley St': 2,
 '41 Monash St': 2,
 '29 Oak St': 2,
 '39 Moore St': 2,
 '8 Rocklands Rd': 2,
 '106/80 Speakmen St': 2,
 '36B Goulburn St': 2,
 '73 Victoria St': 2,
 '50 Bedford St': 2,
 '66 Roseberry St': 2,
 '4/492 Murray Rd': 2,
 '52 Monash St': 2,
 '11 Nottingham St': 2,
 '6 Clarendon St': 2,
 '29 MacGregor St': 2,
 '18 Molesworth Ct': 2,
 '14 Moray St': 2,
 '22 Gladstone Av': 2,
 '19 Hobson St': 2,
 '13 Hudson St': 2,
 '4/77 Pender St': 2,
 '25 Gray St': 2,
 '2/8 Pleasant Av': 2,
 '23 Rogers Av': 2,
 '7 Lawson St': 2,
 '3/220 Warrigal Rd': 2,
 '55 Pattison St': 2,
 '14 Latrobe St': 2,
 '9 Hill St': 2,
 '7/76 Mitford St': 2,
 '59 Hope St': 2,
 '11 Church St': 2,
 '46 Outlook Rd': 2,
 '1/17 Park Av': 2,
 '38 Lily St': 2,
 '13 Vauxhall Rd': 2,
 '15 Bank St': 2,
 '5 Kendall St': 2,
 '1/22 Kitchener Rd': 2,
 '21 May St': 2,
 '16 William St': 2,
 '92 Madden Gr': 2,
 '7 Kenneth St': 2,
 '69 Chirnside St': 2,
 '5 Ballarat Rd': 2,
 '3/28 Lerina St': 2,
 '2/102 Rathcown Rd': 2,
 '8 Vickery St': 2,
 '7 Colclough Ct': 2,
 '2/157 Buckley St': 2,
 '42 Rose St': 2,
 '12 May St': 2,
 '65 Victoria St': 2,
 '2/32 Valetta St': 2,
 '63 Lovell Dr': 2,
 '1/12 Hatfield Ct': 2,
 '27 Sherbourne St': 2,
 '9/10 Brook St': 2,
 '3 Cornell Cl': 2,
 '16 Hayes Pde': 2,
 '2 Hazel Gr': 2,
 '23 Frederick St': 2,
 '57 Cityview Rd': 2,
 '6 Brooke St': 2,
 '11 Duffy St': 2,
 '12 Gordon St': 2,
 '7 Hope St': 2,
 '56 Barrow St': 2,
 '2 George St': 2,
 '1/48 Keilor Rd': 2,
 '44 Miller St': 2,
 '8/380 Lygon St': 2,
 '19 Norfolk St': 2,
 '5 Boronia St': 2,
 '75 Maribyrnong Rd': 2,
 '13 Eynesbury Vw': 2,
 '2 Derry St': 2,
 '101 Charles St': 2,
 '10/127 Somerville Rd': 2,
 '8/161 Alexandra Av': 2,
 '3/9 Poplar Gr': 2,
 '47 Roberts St': 2,
 '11 Judd St': 2,
 '7 Avoca Ct': 2,
 '375 South Rd': 2,
 '37 Lewis St': 2,
 '22 Keith St': 2,
 '1 Vine Ct': 2,
 '40 Fawkner St': 2,
 '33 McCarron Pde': 2,
 '11 Wilson St': 2,
 '2 Omar St': 2,
 '1/16 Mawbey St': 2,
 '27 Parsons St': 2,
 '9A Montgomery St': 2,
 '3/10 Ormond Rd': 2,
 '6 The Mews': 2,
 '12 McGuire Cr': 2,
 '37 Park Av': 2,
 '143B Cornwall Rd': 2,
 '3 Arthur St': 2,
 '2 May St': 2,
 '70 Park St': 2,
 '32 Hillhouse Rd': 2,
 '982 Waverley Rd': 2,
 '27 Buckingham Cr': 2,
 '180 Station St': 2,
 '110 Halsey Rd': 2,
 '22 Clarendon Pde': 2,
 '5 Echo Av': 2,
 '1/35 Union Rd': 2,
 '25 Gardenvale Rd': 2,
 '15 Hampshire Rd': 2,
 '536/22 Barkly St': 2,
 '23 Cromwell St': 2,
 '209 Albert St': 2,
 '32 Rose St': 2,
 '19 Newry St': 2,
 '2 Sheffield St': 2,
 '11 Murphy St': 2,
 '56 Victoria St': 2,
 '1/13 Cartwright St': 2,
 '6 Balarang Ct': 2,
 '8 Leonard St': 2,
 '29 Livingstone St': 2,
 '271 Heidelberg Rd': 2,
 '18 Pullar St': 2,
 '15 Fraser St': 2,
 '46 Wilson St': 2,
 '112/405 High St': 2,
 '2/67 Herbert St': 2,
 '33 Hillside Cr': 2,
 '19 Wendora St': 2,
 '6/21 Hampton Pde': 2,
 '4 Evelyn St': 2,
 '3 Atkinson St': 2,
 '10 Lauriston Ct': 2,
 '1 Bellarine St': 2,
 '3 Mary St': 2,
 '8 Prentice St': 2,
 '297 Ross St': 2,
 '21 Mitchell St': 2,
 '11 Vincent St': 2,
 '23 Dean St': 2,
 '9 Miller St': 2,
 '45 Elizabeth St': 2,
 '310/71 Henry St': 2,
 '2A Austin St': 2,
 '118a Ogilvie St': 2,
 '20 Bedford St': 2,
 '35 Spring St': 2,
 '14 Murdock St': 2,
 '23 Albert St': 2,
 '9 Yawla St': 2,
 '4 Vincent St': 2,
 '25 Barak Rd': 2,
 '16 Clyde St': 2,
 '36 Shaw St': 2,
 '26 Carnarvon Rd': 2,
 '11 Kerferd St': 2,
 '8 Swift St': 2,
 '8 Avenue Athol': 2,
 '16 Helen St': 2,
 '22 Cubitt St': 2,
 '131 Noone St': 1,
 '5 Burns Ct': 1,
 '8 Agg St': 1,
 '1/21 Wedge St': 1,
 '36 Southern Rd': 1,
 '22 David Av': 1,
 '83 Grange Rd': 1,
 '1288 Toorak Rd': 1,
 '4/51 Spenser St': 1,
 '5/33 Grange Rd': 1,
 '4 Pacific Pl': 1,
 '1A Brian St': 1,
 '6 Carlyle Cr': 1,
 '1/388 Waterdale Rd': 1,
 '22 Yvette Ct': 1,
 '22 Emerald St': 1,
 '1/14 Paxton St': 1,
 '304/394 Victoria St': 1,
 '25 Horne St': 1,
 '63B Clyde St': 1,
 '26 Broadlea Cr': 1,
 '37 Scotia St': 1,
 '61 Rachelle Rd': 1,
 '1/26 Lambourn Rd': 1,
 '151 McBryde St': 1,
 '8 Mary St': 1,
 '6/108 Walpole St': 1,
 '24 Derby St': 1,
 '1/69 Purtell St': 1,
 '7 Danthonia St': 1,
 '11 Hosking St': 1,
 '8 MacAlister Bvd': 1,
 '4/2 Alfred St': 1,
 '65 Barry St': 1,
 '8/7 Passfield St': 1,
 '1/153 Essex St': 1,
 '12/48 Oxley Rd': 1,
 '369 Barkly St': 1,
 '21 Grandview Tce': 1,
 '4/7 Weymar St': 1,
 '3/8 Prospect Rd': 1,
 '2/199 Hotham St': 1,
 '2/15 Mirbelia Cr': 1,
 '4/78 Campbell Rd': 1,
 '27 Nelson St': 1,
 '49 Batman St': 1,
 '76 Riddell Rd': 1,
 '24 Heathcote Dr': 1,
 '20 Salisbury St': 1,
 '6/113 Park Rd': 1,
 '5 Grainger Ct': 1,
 '56 Denham St': 1,
 '5/187 Tucker Rd': 1,
 '10 Plover Cl': 1,
 '32 Louis St': 1,
 '5a Emu Av': 1,
 '86/682 Nicholson St': 1,
 '2/119 Railway St N': 1,
 '16 Kett St': 1,
 '3 Lakeside Cr': 1,
 '12 Welwyn Av': 1,
 '2 Stewart Cl': 1,
 '8 Buxton St': 1,
 '64 Queen St': 1,
 '18 Collins St': 1,
 '26A Macquarie St': 1,
 '2 Birtles Ct': 1,
 '5/11 Johnstone St': 1,
 '3/35 Bourke St': 1,
 '15 Galloway Dr': 1,
 '2 Howitt Pl': 1,
 '2/62 Lochiel Av': 1,
 '1/1 Ramu Gr': 1,
 '40a Jackson St': 1,
 '10 Castello St': 1,
 '1/12 Pascoe St': 1,
 '21 Riberry Cr': 1,
 '3/3 Meadow Gr': 1,
 '7/59 Carlisle St': 1,
 '39 Luckins Rd': 1,
 '105/459 Royal Pde': 1,
 '5/5 Greenhills Rd': 1,
 '22 Lightwood Cr': 1,
 '18 Bulong St': 1,
 '104 Studley Rd': 1,
 '1 Bloomfield Rd': 1,
 '2/215 Mont Albert Rd': 1,
 '165 Jukes Rd': 1,
 '105 Raphael Cr': 1,
 '48 Gordon St': 1,
 '17 Amaroo Wy': 1,
 '2 Dickerson Av': 1,
 '38 Neasham Dr': 1,
 '77A Fulham Rd': 1,
 '3 Deidre Ct': 1,
 '240 Manningham Rd': 1,
 '7 Saunders Cl': 1,
 '24 Chapel Mw': 1,
 '21A Wentworth Av': 1,
 '59 Rees Rd': 1,
 '1/263 Albion St': 1,
 '39 Galloway St': 1,
 '8/1277 Toorak Rd': 1,
 '319 Lum Rd': 1,
 '7 Cumberland Dr': 1,
 '3/20 Queens Av': 1,
 '66 Elinda Pl': 1,
 '13 Alister St': 1,
 '140 Dundas St': 1,
 '4 Ella Ct': 1,
 '115 North Rd': 1,
 '9 Neale St': 1,
 '34 Suffolk St': 1,
 '3/178 Auburn Rd': 1,
 '24 Stradling Ri': 1,
 '10 Mullins Ct': 1,
 '4 Barker St': 1,
 '13 Seggan Cir': 1,
 '3/12 Elstone Ct': 1,
 '154 Through Rd': 1,
 '3/31 Bailey Av': 1,
 '3 Lachlan Ct': 1,
 '408A Melbourne Rd': 1,
 '4a Marriage Rd': 1,
 '39 McKinley Av': 1,
 '32 Matthews St': 1,
 '28 Dalray Cr': 1,
 '2/6 Lucille Av': 1,
 '11/209 Domain Rd': 1,
 '8 Andromeda Wy': 1,
 '5 Buchanan Ct': 1,
 '11 Woonah St': 1,
 '68 South St': 1,
 '11 Walter St': 1,
 '20 Snell Gr': 1,
 '213/16 Etna St': 1,
 '115 Fawkner St': 1,
 '9 Edith Ct': 1,
 '7 Marquis Rd': 1,
 '53 Ryan St': 1,
 '53 Marlborough Cr': 1,
 '1/28 Milton St': 1,
 '1/64 Pitt St': 1,
 '4 Romek Wy': 1,
 '139 Christmas St': 1,
 '3 Belvedere Ct': 1,
 '3/6 Heyington Av': 1,
 '4/162 Cornwall Rd': 1,
 '15 Eldridge Ct': 1,
 '22 Sandra Av': 1,
 '3/10 Edgar St': 1,
 '2/9 Fordholm Rd': 1,
 '4 Kelsall Ct': 1,
 '2 Debra Ct': 1,
 '35 Glen St': 1,
 '56 Eva St': 1,
 '5/17 Cumming St': 1,
 '17 Bellevue Rd': 1,
 '4/213 Station St': 1,
 '24 Goulding Dr': 1,
 '29 Gipps St': 1,
 '12 Courtis St': 1,
 '7 Milliara St': 1,
 '3 Whitty St': 1,
 '5 Gretel Pl': 1,
 '116b Hilton St': 1,
 '88 MacKie Rd': 1,
 '199 Ross St': 1,
 '6A Oulton Cr': 1,
 '35 Buttercup Gr': 1,
 '239B Tucker Rd': 1,
 '3/24 City Rd': 1,
 '13 Poole St': 1,
 '16 Glenda St': 1,
 '1/240 Arthur St': 1,
 '12 Werona St': 1,
 '3 Scotch Av': 1,
 '212/3 Tannock St': 1,
 '123 Male St': 1,
 '82 New St': 1,
 '6/361 Church St': 1,
 '9 Harvey St': 1,
 '176 Barkly St': 1,
 '1/21 Devon Dr': 1,
 '27 Forster St': 1,
 '15 Stonehaven Cr': 1,
 '98 George St': 1,
 '23 Solway St': 1,
 '30 Carlyle St': 1,
 '20 Ward St': 1,
 '3/105 Raleigh Rd': 1,
 '33 Cecil St': 1,
 '837 Canterbury Rd': 1,
 '129 Albion St': 1,
 '28 Franklin St': 1,
 '407/800 Chapel St': 1,
 '4 Sasha Ct': 1,
 '3 Tarrengower St': 1,
 '2/33 Murray Rd': 1,
 '27 Woodfull St': 1,
 '4/10 Brechin Ct': 1,
 '161 Edward St': 1,
 '21 Citybay Dr': 1,
 '202/51 Gordon St': 1,
 '19 Davis Av': 1,
 '17 Norma St': 1,
 '27A Yerrin St': 1,
 '38C Fletcher St': 1,
 '95 Rosanna Rd': 1,
 '22 Scottsdale Ct': 1,
 '74 Bridport St': 1,
 '105 Dawson St': 1,
 '2/16 Worrall St': 1,
 '9/18 Kensington Rd': 1,
 '80 Sycamore St': 1,
 '55 Cary St': 1,
 '7 Rathmines St': 1,
 '12/28 Wynnstay Rd': 1,
 '26 Riverbank Dr': 1,
 '20 Mills St': 1,
 '33 Guest Rd': 1,
 '5/45 Ancona Dr': 1,
 '11/13 Rockley Rd': 1,
 '1a Leander St': 1,
 '14/378 Dandenong Rd': 1,
 '45 Dempster Av': 1,
 '2/138 Winfield Rd': 1,
 '3 Sunrise Dr': 1,
 '1/37 Whitmuir Rd': 1,
 '3/19 Gordon St': 1,
 '30b Chesterville Dr': 1,
 '68 Queens Pde': 1,
 '6 Denny Pl': 1,
 '4/34 Gladstone St': 1,
 '105 Serenity Wy': 1,
 '2/3 Eldridge St': 1,
 '26 Croker St': 1,
 '8/333 Coventry St': 1,
 '26a Fawkner St': 1,
 '59 Davenport Dr': 1,
 '6/45 Gipps St': 1,
 '46a Wolverhampton St': 1,
 '20 Henry St': 1,
 '16 Sydney St': 1,
 '260b Gooch St': 1,
 '20 Middlesborough Dr': 1,
 '8 Crestview Ct': 1,
 '58 Sixth Av': 1,
 '5 Bruce Cr': 1,
 '2/12 Hodgson Gr': 1,
 '13 Heversham Gr': 1,
 '107/33 Wreckyn St': 1,
 '2 Bow Cr': 1,
 '39 Gipps St': 1,
 '3 Belmore Rd': 1,
 '2/7 Oconnor St': 1,
 '3/71 Hubert Av': 1,
 '32 Geddes St': 1,
 '9/220 Huntingdale Rd': 1,
 '1 Stuart St': 1,
 '176 Dow St': 1,
 '6 Mansard La': 1,
 '4 Tudor Rd': 1,
 '28B Barrington St': 1,
 '81 Fifth Av': 1,
 '12 Dalwhinnie Cl': 1,
 '35 Zarro St': 1,
 '24 Lang Rd': 1,
 '23 Matipo St': 1,
 '2/15 De Carle St': 1,
 '2/2 Myrniong Gr': 1,
 '3 Bloomfield Rd': 1,
 '24 Neilsen Cr': 1,
 '10/23 Baxter St': 1,
 '9 Derby St': 1,
 '338 Separation St': 1,
 '3/11 Clark Rd': 1,
 '2/43 Ulupna Rd': 1,
 '30 Teatree Dr': 1,
 '21 Webb St': 1,
 '8/5 Gnarwyn Rd': 1,
 '147 Sunset Bvd': 1,
 '1/30 Ross St': 1,
 '1/532 Waverley Rd': 1,
 '26 Merrill St': 1,
 '6 Rostella Ct': 1,
 '2/703 Orrong Rd': 1,
 '15a Andrews St': 1,
 '5/3 Hertford St': 1,
 '3/53 Moore Rd': 1,
 '33 Wanda St': 1,
 '22 Andrews St': 1,
 '4 McPherson St': 1,
 '17 Summerhill Rd': 1,
 '244 Parer Rd': 1,
 '463 Coventry St': 1,
 '42B Evan St': 1,
 '110 Strabane Av': 1,
 '34 Manning Rd': 1,
 '20/6 Winifred St': 1,
 '1 Hotchkiss Wy': 1,
 '32 First Av': 1,
 '45 Loudon Cct': 1,
 '9 Lynch St': 1,
 '18 Lupin St': 1,
 '81 Johnstone St': 1,
 '4/39 St Kinnord St': 1,
 '26 Stenhouse Av': 1,
 '1610 Malvern Rd': 1,
 '226/3 Hoddle St': 1,
 '47 Suffolk Rd': 1,
 '42 Berembong Dr': 1,
 '3/561 South Rd': 1,
 '203 Balcombe Rd': 1,
 '145 Cameron Pde': 1,
 '61 Baker St': 1,
 '1105/148 Wells St': 1,
 '25 Toorak Av': 1,
 '74 Landscape Dr': 1,
 '10/1 Ruabon Rd': 1,
 '3 Ryland Pl': 1,
 '36 Major Rd': 1,
 '8/3 Guthrie St': 1,
 '10 Dennington La': 1,
 '6/115 Brighton Rd': 1,
 '58 Perkins Av': 1,
 '5 Bischoff St': 1,
 '7 Hughes St': 1,
 '5 Ellery La': 1,
 '805/300 Swanston St': 1,
 '35 Bundora Pde': 1,
 '19A Tilley St': 1,
 '1 Zara Cl': 1,
 '10 Draper Ct': 1,
 '1/1 Amis Cr': 1,
 '26 Waterford Av': 1,
 '25 Evans Cr': 1,
 '86 Windella Av': 1,
 '10 Osborne Av': 1,
 '15 Byron St': 1,
 '65 Laura St': 1,
 '1/5 Dunoon St': 1,
 '65 Webb Rd': 1,
 '16/384 Toorak Rd': 1,
 '157 Bellevue Av': 1,
 '6/187 Kooyong Rd': 1,
 '53 John St': 1,
 '33 Reserve Rd': 1,
 '91 Arthurton Rd': 1,
 '6 Raglan Ct': 1,
 '20 Locher Av': 1,
 '102 North Rd': 1,
 '5 Henry Rd': 1,
 '158 Eglinton St': 1,
 '3/12 Somers St': 1,
 '11 Christian Ct': 1,
 '2/236 Lower Plenty Rd': 1,
 '1/7 Y St': 1,
 '10 Burleigh Rd': 1,
 '6/57 Adams St': 1,
 '25/37 Ascot Vale Rd': 1,
 '14 Humevale Ct': 1,
 '22 Milliara Gr': 1,
 '9 Wicks Ct': 1,
 '199 Park Dr': 1,
 '1281 Heatherton Rd': 1,
 '78 Sellars St': 1,
 '33 Maude Av': 1,
 '47 Apollo Rd': 1,
 '1/15 Lebanon St': 1,
 '4/38 Porter St': 1,
 '37 Grosvenor St': 1,
 '28 Larkspur Av': 1,
 '19 Warburton Rd': 1,
 '18/11 Redan St': 1,
 '2/26 Jeffrey Av': 1,
 '61 Ballarat Rd': 1,
 '2a Nimmo St': 1,
 '13 Cumquat Ct': 1,
 '5/33 York St': 1,
 '64 Studley St': 1,
 '2/42 Bardsley St': 1,
 '84 Dalny Rd': 1,
 '2/49 Dublin Av': 1,
 '78 Francis St': 1,
 '22 Kalonga Rd': 1,
 '57 Marjorie Av': 1,
 '1/10 Owen St': 1,
 '30 Cobram St': 1,
 '25 Harris St': 1,
 '10/116 Albert St': 1,
 '3/35 Walsh St': 1,
 '4 Elmwood Cr': 1,
 '36 Vine St': 1,
 '20 Cowrie St': 1,
 '7/125 Rushall Cr': 1,
 '17 Birdwood St': 1,
 '2/23 Byron St': 1,
 '46A Collins St': 1,
 '34 Vera St': 1,
 '19 Wrixon Av': 1,
 '8 Yarla Ct': 1,
 '12/41 Chapel St': 1,
 '6 Gilbert Gr': 1,
 '107 Golf Rd': 1,
 '16 Cain Ct': 1,
 '8 Scotia St': 1,
 '21 Finlay St': 1,
 '24 Henrietta Av': 1,
 '15 Andrew St': 1,
 '4 Kerang Pl': 1,
 '4 Chapman St': 1,
 '90 Kookaburra Av': 1,
 '114/71 Henry St': 1,
 '25 Norwood Rd': 1,
 '1/6 Patmore Ct': 1,
 '1 Pecan Ct': 1,
 '106/119 Turner St': 1,
 '14 Greta St': 1,
 '22 Campbell St': 1,
 '159A Smith St': 1,
 '180 Cairnlea Dr': 1,
 '47 Parkmore Rd': 1,
 '5 Bluebell Pl': 1,
 '1/602 Neerim Rd': 1,
 '15 Highbury St': 1,
 '1/36 Butters St': 1,
 '43 Streldon Av': 1,
 '130 Nott St': 1,
 '11 Monash Av': 1,
 '1/25 Gardiner Pde': 1,
 '13 Bridge Rd': 1,
 '2/65 Bayswater Rd': 1,
 '63 Hobson St': 1,
 '120/188 Whitehorse Rd': 1,
 '6 Elswill St': 1,
 '162 Canning St': 1,
 '9 Moffat Ct': 1,
 '27 Homer Av': 1,
 '36 The Crescent': 1,
 '2/7 Maitland St': 1,
 '12/624 Barkly St': 1,
 '15/9 Kooyong Rd': 1,
 '5 Majella Ct': 1,
 '25/5 Dickens St': 1,
 '5/4 Cumming St': 1,
 '17A Towers St': 1,
 '57 Leinster Gr': 1,
 '5a James Cr': 1,
 '42 Watt St': 1,
 '10 Carmichael St': 1,
 '62 Dawson St': 1,
 '4/48 New St': 1,
 '3 Oakwood Dr': 1,
 '59 Mayfield Dr': 1,
 '96 Hambleton St': 1,
 '44 Ilma Gr': 1,
 '7 Flintoff Ct': 1,
 '13 Linnet St': 1,
 '38 Dalny Rd': 1,
 '36 Muriel St': 1,
 '77 Gladstone Av': 1,
 '1 Homewood Ri': 1,
 '28 Powell St': 1,
 '2/25 Harold St': 1,

In [227]:
data1.Address=data1.Address.map(Address_map)

In [228]:
data1.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Car_random
1,102,1,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.000000,202.000000,160.251616,1965.287653,Yarra City Council,-37.799600,144.998400,Northern Metropolitan,4019.0,1.0
2,102,1,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.000000,156.000000,79.000000,1900.000000,Yarra City Council,-37.807900,144.993400,Northern Metropolitan,4019.0,0.0
4,102,4,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.000000,134.000000,150.000000,1900.000000,Yarra City Council,-37.809300,144.994400,Northern Metropolitan,4019.0,0.0
5,102,1,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.000000,94.000000,160.251616,1965.287653,Yarra City Council,-37.796900,144.996900,Northern Metropolitan,4019.0,1.0
6,102,1,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.000000,120.000000,142.000000,2014.000000,Yarra City Council,-37.807200,144.994100,Northern Metropolitan,4019.0,2.0
10,102,1,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.000000,181.000000,160.251616,1965.287653,Yarra City Council,-37.804100,144.995300,Northern Metropolitan,4019.0,0.0
11,102,1,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.000000,245.000000,210.000000,1910.000000,Yarra City Council,-37.802400,144.999300,Northern Metropolitan,4019.0,0.0
14,102,1,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.000000,256.000000,107.000000,1890.000000,Yarra City Council,-37.806000,144.995400,Northern Metropolitan,4019.0,2.0
15,102,1,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,...,1.624747,593.607177,160.251616,1965.287653,Yarra City Council,-37.810634,145.001845,Northern Metropolitan,4019.0,0.0
16,102,1,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,...,1.624747,593.607177,160.251616,1965.287653,Yarra City Council,-37.810634,145.001845,Northern Metropolitan,4019.0,1.0

In [229]:
#Imputing Type:
data1.Type.nunique()

3

In [230]:
data1.Type.value_counts()

h    18472
u     5909
t     2866
Name: Type, dtype: int64

In [231]:
data1=pd.get_dummies(data1,columns=['Type'],drop_first =True)

In [232]:
data1.columns

Index(['Suburb', 'Address', 'Rooms', 'Price', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude',
       'Regionname', 'Propertycount', 'Car_random', 'Type_t', 'Type_u'],
      dtype='object')

In [233]:
#Encoding Method:
data1.Method.unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

In [234]:
data1=pd.get_dummies(data1,columns=['Method'],drop_first =True)

In [235]:
data1.head(10)

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Longtitude,Regionname,Propertycount,Car_random,Type_t,Type_u,Method_S,Method_SA,Method_SP,Method_VB
1,102,1,2,1480000.0,Biggin,3/12/2016,2.5,3067.0,2.00000,1.000000,...,144.998400,Northern Metropolitan,4019.0,1.0,0,0,1,0,0,0
2,102,1,2,1035000.0,Biggin,4/02/2016,2.5,3067.0,2.00000,1.000000,...,144.993400,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
4,102,4,3,1465000.0,Biggin,4/03/2017,2.5,3067.0,3.00000,2.000000,...,144.994400,Northern Metropolitan,4019.0,0.0,0,0,0,0,1,0
5,102,1,3,850000.0,Biggin,4/03/2017,2.5,3067.0,3.00000,2.000000,...,144.996900,Northern Metropolitan,4019.0,1.0,0,0,0,0,0,0
6,102,1,4,1600000.0,Nelson,4/06/2016,2.5,3067.0,3.00000,1.000000,...,144.994100,Northern Metropolitan,4019.0,2.0,0,0,0,0,0,1
10,102,1,2,941000.0,Jellis,7/05/2016,2.5,3067.0,2.00000,1.000000,...,144.995300,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
11,102,1,3,1876000.0,Nelson,7/05/2016,2.5,3067.0,4.00000,2.000000,...,144.999300,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
14,102,1,2,1636000.0,Nelson,8/10/2016,2.5,3067.0,2.00000,1.000000,...,144.995400,Northern Metropolitan,4019.0,2.0,0,0,1,0,0,0
15,102,1,3,1000000.0,Jellis,8/10/2016,2.5,3067.0,3.08465,1.624747,...,145.001845,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
16,102,1,2,745000.0,Jellis,8/10/2016,2.5,3067.0,3.08465,1.624747,...,145.001845,Northern Metropolitan,4019.0,1.0,1,0,1,0,0,0

In [236]:
data1.columns

Index(['Suburb', 'Address', 'Rooms', 'Price', 'SellerG', 'Date', 'Distance',
       'Postcode', 'Bedroom2', 'Bathroom', 'Landsize', 'BuildingArea',
       'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount', 'Car_random', 'Type_t', 'Type_u', 'Method_S',
       'Method_SA', 'Method_SP', 'Method_VB'],
      dtype='object')

In [237]:
#SellerG: Frequency Encoding:
data1.SellerG.nunique()

349

In [238]:
data1.SellerG.value_counts()

Nelson           2735
Jellis           2532
Barry            2393
hockingstuart    2110
Ray              1581
                 ...
Batty               1
Nicholas            1
Free                1
iOne                1
Mindacom            1
Name: SellerG, Length: 349, dtype: int64

In [239]:
SellerG_map=data1.SellerG.value_counts().to_dict()
SellerG_map

{'Nelson': 2735,
 'Jellis': 2532,
 'Barry': 2393,
 'hockingstuart': 2110,
 'Ray': 1581,
 'Buxton': 1431,
 'Marshall': 1219,
 'Biggin': 650,
 'Fletchers': 616,
 'Brad': 612,
 'Woodards': 562,
 'McGrath': 492,
 'Greg': 426,
 'YPA': 413,
 'Noel': 410,
 'Jas': 409,
 'Stockdale': 378,
 'Sweeney': 376,
 'Miles': 360,
 'RT': 351,
 'Harcourts': 335,
 'Gary': 332,
 'Hodges': 313,
 'Raine': 286,
 'HAR': 241,
 'Love': 224,
 'RW': 219,
 'Kay': 200,
 "O'Brien": 192,
 'Village': 177,
 'Williams': 177,
 'Douglas': 165,
 'C21': 136,
 'Purplebricks': 126,
 'Chisholm': 121,
 'Philip': 111,
 'Buckingham': 110,
 'Eview': 109,
 'Rendina': 104,
 'Darren': 103,
 'Collins': 98,
 'Morrison': 97,
 'Bells': 85,
 'Cayzer': 81,
 'LJ': 78,
 'Moonee': 78,
 'Thomson': 78,
 'McDonald': 75,
 'Frank': 72,
 'Nick': 72,
 'Alexkarbon': 67,
 'LITTLE': 61,
 'Burnham': 59,
 'Considine': 58,
 'FN': 55,
 'Prof.': 55,
 'Walshe': 54,
 'Peter': 52,
 'MICM': 51,
 'Barlow': 50,
 'Edward': 50,
 'Dingle': 49,
 'Jason': 41,
 'Haughton': 38,
 'Reliance': 37,
 'Wilson': 36,
 'Lindellas': 35,
 'GL': 33,
 "Abercromby's": 33,
 'Harrington': 32,
 'Whiting': 31,
 'iTRAK': 31,
 'Beller': 31,
 'Pagan': 28,
 'Win': 27,
 'Iconek': 27,
 'Tim': 27,
 'Caine': 27,
 'Millership': 27,
 'Castran': 26,
 'Rodney': 26,
 'iSell': 25,
 'Charlton': 25,
 'S&L': 25,
 'Carter': 23,
 'Melbourne': 22,
 'J': 22,
 'One': 21,
 'William': 21,
 'PRDNationwide': 21,
 'Bekdon': 19,
 'The': 19,
 'Paul': 18,
 'Del': 18,
 'Gunn&Co': 18,
 'Domain': 18,
 'Obrien': 18,
 'Hunter': 18,
 'Parkes': 17,
 'Chambers': 17,
 'Pride': 17,
 'Max': 17,
 'Trimson': 16,
 'Flannagan': 15,
 'W.B.': 15,
 'Triwest': 14,
 'Hoskins': 14,
 'Ryder': 13,
 'RE': 13,
 'Leeburn': 13,
 'Point': 13,
 'Mason': 13,
 'Brace': 12,
 'Schroeder': 12,
 'Area': 12,
 'Hall': 12,
 'Compton': 11,
 "Sotheby's": 11,
 "O'Donoghues": 11,
 'Le': 11,
 'McLennan': 11,
 'Nicholson': 11,
 '@Realty': 11,
 'Morleys': 10,
 "D'Aprano": 10,
 'buyMyplace': 10,
 'Holland': 9,
 'LLC': 9,
 'Re': 9,
 'Ham': 9,
 'Christopher': 9,
 'Leading': 9,
 'Westside': 9,
 'Thomas': 9,
 'Calder': 9,
 'Garvey': 8,
 'Property': 8,
 'Collings': 8,
 'Red': 7,
 'REMAX': 7,
 'Maitland': 7,
 'OBrien': 7,
 'L': 7,
 'hockingstuart/hockingstuart': 7,
 'Bayside': 7,
 'Aquire': 7,
 'VICPROP': 6,
 'Sell': 6,
 'Bowman': 6,
 'Nguyen': 6,
 'Scott': 6,
 'New': 6,
 'Daniel': 6,
 'Ross': 6,
 'Weda': 6,
 'Gardiner': 6,
 'Peake': 6,
 'Appleby': 6,
 'First': 6,
 'JMRE': 6,
 'LJH': 6,
 'Rounds': 5,
 'Community': 5,
 'Leased': 5,
 'MJ': 5,
 'Matthew': 5,
 'Dixon': 5,
 'Boutique': 5,
 'Upside': 5,
 'Kelly': 5,
 'Anderson': 5,
 'R&H': 5,
 'ASL': 5,
 'Walsh': 4,
 'Real': 4,
 'Ace': 4,
 'U': 4,
 'Hamilton': 4,
 'Langwell': 4,
 'Skad': 4,
 'Ascend': 4,
 'Raine&Horne': 4,
 'Ash': 4,
 'Asset': 4,
 'VICProp': 4,
 'Ristic': 4,
 'Mandy': 4,
 'JRW': 4,
 'Branon': 4,
 'Crane': 4,
 'Wyndham': 4,
 'Benlor': 4,
 'Leyton': 4,
 'Bullen': 4,
 'Galldon': 3,
 'Fletchers/Fletchers': 3,
 'Besser': 3,
 'Joseph': 3,
 'Nicholls': 3,
 'Maddison': 3,
 'Just': 3,
 'People': 3,
 'M.J': 3,
 'WHITEFOX': 3,
 'Assisi': 3,
 'Nardella': 3,
 'Steller': 3,
 'Home': 3,
 'Owen': 3,
 'Redina': 3,
 'Roger': 3,
 'Munn': 3,
 'Keatings': 3,
 'Weston': 3,
 'Open': 2,
 'Elite': 2,
 'Avion': 2,
 'Surreal': 2,
 'Buxton/Marshall': 2,
 'Hooper': 2,
 'Changing': 2,
 'Mitchell': 2,
 'Homes': 2,
 'PRD': 2,
 'Wood': 2,
 'David': 2,
 'Parkinson': 2,
 'Only': 2,
 'TRUE': 2,
 'Eric': 2,
 'Charter': 2,
 'Darras': 2,
 'Meadows': 2,
 'Blackbird': 2,
 'Buxton/Advantage': 2,
 'Hayeswinckle': 2,
 'Australian': 2,
 'Johnston': 2,
 'Sweeney/Advantage': 2,
 'Metro': 2,
 'Oriental': 2,
 'Boran': 2,
 'Century': 2,
 'Ken': 2,
 'Allens': 2,
 'Prowse': 2,
 'Luxton': 2,
 'Justin': 2,
 'Lucas': 2,
 'Kaye': 2,
 'Grantham': 2,
 'Leaders': 2,
 'P': 2,
 'Janice': 1,
 'Quinta': 1,
 'Prime': 1,
 'hockingstuart/Biggin': 1,
 'Rexhepi': 1,
 'CarlinSmith': 1,
 "Tiernan's": 1,
 'PSP': 1,
 'Airport': 1,
 'AIME': 1,
 'Buxton/Find': 1,
 'hockingstuart/Advantage': 1,
 'Commercial': 1,
 'Fletchers/One': 1,
 'hockingstuart/Village': 1,
 'North': 1,
 'Karen': 1,
 'Allan': 1,
 'Bustin': 1,
 'Follett': 1,
 'Gellibrand': 1,
 'Direct': 1,
 'hockingstuart/Barry': 1,
 'Bombay': 1,
 'Luxe': 1,
 'CASTRAN': 1,
 'Clairmont': 1,
 'Spencer': 1,
 'JY': 1,
 'Mark': 1,
 'Better': 1,
 'Vic': 1,
 'hockingstuart/Harcourts': 1,
 'For': 1,
 'Reach': 1,
 'T': 1,
 'White': 1,
 'Weast': 1,
 'hockingstuart/Sweeney': 1,
 'Xynergy': 1,
 'Professionals': 1,
 'McEwing': 1,
 'Jim': 1,
 'iHomes': 1,
 'Naison': 1,
 'Blue': 1,
 'Coventry': 1,
 'McNaughton': 1,
 'Rosin': 1,
 'Space': 1,
 'Victory': 1,
 'Craig': 1,
 'Mega': 1,
 'Sanctuary': 1,
 'Veitch': 1,
 'hockingstuart/Marshall': 1,
 'VicHomes': 1,
 'Conquest': 1,
 'Create': 1,
 'Donovan': 1,
 'Sweeney/Burnham': 1,
 'Propertyau': 1,
 'Unity': 1,
 'Burns': 1,
 'Buxton/Buxton': 1,
 'Shape': 1,
 'Black': 1,
 'Oak': 1,
 'Reed': 1,
 'SN': 1,
 'Geoff': 1,
 "Private/Tiernan's": 1,
 'Aumeca': 1,
 'iProperty': 1,
 'Joe': 1,
 'Upper': 1,
 'G&H': 1,
 'McGrath/Langwell': 1,
 'Meallin': 1,
 'Sandhurst': 1,
 'Rombotis': 1,
 'Benchmark': 1,
 'Alex': 1,
 'K.R.Peters': 1,
 'hockingstuart/Buxton': 1,
 'McGrath/First': 1,
 'Steveway': 1,
 'Icon': 1,
 'H': 1,
 'Zahn': 1,
 'Smart': 1,
 'Batty': 1,
 'Nicholas': 1,
 'Free': 1,
 'iOne': 1,
 'Mindacom': 1}

In [240]:
data1.SellerG = data1.SellerG.map(SellerG_map)
data1.SellerG

1         650
2         650
4         650
5         650
6        2735
         ...
34852     409
34853     376
34854     409
34855    2110
34856     219
Name: SellerG, Length: 27247, dtype: int64

In [241]:
data1.Date.nunique()

78

In [242]:
data1.Date.value_counts()

28/10/2017    879
17/03/2018    753
9/12/2017     723
24/02/2018    723
25/11/2017    682
             ...
4/02/2016      35
30/09/2017     18
20/01/2018     12
27/01/2018     11
28/01/2016      2
Name: Date, Length: 78, dtype: int64

In [243]:
Date_map=data1.Date.value_counts().to_dict()
Date_map

{'28/10/2017': 879,
 '17/03/2018': 753,
 '9/12/2017': 723,
 '24/02/2018': 723,
 '25/11/2017': 682,
 '18/11/2017': 681,
 '3/03/2018': 647,
 '6/01/2018': 624,
 '27/05/2017': 610,
 '23/09/2017': 591,
 '14/10/2017': 559,
 '11/11/2017': 555,
 '16/09/2017': 546,
 '21/10/2017': 527,
 '3/06/2017': 525,
 '26/08/2017': 523,
 '17/06/2017': 489,
 '7/10/2017': 476,
 '27/11/2016': 456,
 '3/09/2017': 450,
 '12/08/2017': 449,
 '24/06/2017': 449,
 '9/09/2017': 448,
 '19/08/2017': 441,
 '4/03/2017': 416,
 '25/02/2017': 415,
 '17/02/2018': 414,
 '10/12/2016': 407,
 '29/07/2017': 385,
 '1/07/2017': 383,
 '12/11/2016': 382,
 '18/03/2017': 377,
 '15/10/2016': 360,
 '3/12/2016': 360,
 '8/07/2017': 352,
 '22/07/2017': 350,
 '8/04/2017': 350,
 '18/06/2016': 343,
 '28/05/2016': 341,
 '20/05/2017': 341,
 '15/07/2017': 336,
 '19/11/2016': 336,
 '8/10/2016': 317,
 '13/05/2017': 312,
 '7/05/2016': 309,
 '17/09/2016': 302,
 '28/08/2016': 302,
 '24/09/2016': 300,
 '10/09/2016': 294,
 '4/06/2016': 284,
 '10/02/2018': 284,
 '27/06/2016': 277,
 '29/04/2017': 274,
 '3/09/2016': 270,
 '22/05/2016': 267,
 '16/04/2016': 266,
 '14/05/2016': 250,
 '22/08/2016': 241,
 '7/11/2016': 239,
 '30/07/2016': 209,
 '6/08/2016': 191,
 '6/05/2017': 190,
 '22/04/2017': 181,
 '13/08/2016': 177,
 '16/07/2016': 177,
 '26/07/2016': 167,
 '23/04/2016': 135,
 '10/03/2018': 121,
 '11/02/2017': 111,
 '3/02/2018': 85,
 '4/11/2017': 77,
 '12/06/2016': 58,
 '11/03/2017': 48,
 '4/02/2016': 35,
 '30/09/2017': 18,
 '20/01/2018': 12,
 '27/01/2018': 11,
 '28/01/2016': 2}

In [244]:
data1.Date= data1.Date.map(Date_map)
data1.head(10)

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Longtitude,Regionname,Propertycount,Car_random,Type_t,Type_u,Method_S,Method_SA,Method_SP,Method_VB
1,102,1,2,1480000.0,650,360,2.5,3067.0,2.00000,1.000000,...,144.998400,Northern Metropolitan,4019.0,1.0,0,0,1,0,0,0
2,102,1,2,1035000.0,650,35,2.5,3067.0,2.00000,1.000000,...,144.993400,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
4,102,4,3,1465000.0,650,416,2.5,3067.0,3.00000,2.000000,...,144.994400,Northern Metropolitan,4019.0,0.0,0,0,0,0,1,0
5,102,1,3,850000.0,650,416,2.5,3067.0,3.00000,2.000000,...,144.996900,Northern Metropolitan,4019.0,1.0,0,0,0,0,0,0
6,102,1,4,1600000.0,2735,284,2.5,3067.0,3.00000,1.000000,...,144.994100,Northern Metropolitan,4019.0,2.0,0,0,0,0,0,1
10,102,1,2,941000.0,2532,309,2.5,3067.0,2.00000,1.000000,...,144.995300,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
11,102,1,3,1876000.0,2735,309,2.5,3067.0,4.00000,2.000000,...,144.999300,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
14,102,1,2,1636000.0,2735,317,2.5,3067.0,2.00000,1.000000,...,144.995400,Northern Metropolitan,4019.0,2.0,0,0,1,0,0,0
15,102,1,3,1000000.0,2532,317,2.5,3067.0,3.08465,1.624747,...,145.001845,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
16,102,1,2,745000.0,2532,317,2.5,3067.0,3.08465,1.624747,...,145.001845,Northern Metropolitan,4019.0,1.0,1,0,1,0,0,0

In [245]:
data1.CouncilArea.value_counts()

Boroondara City Council           2520
Darebin City Council              2349
Moreland City Council             1790
Glen Eira City Council            1643
Moonee Valley City Council        1584
Melbourne City Council            1502
Banyule City Council              1457
Brimbank City Council             1366
Bayside City Council              1311
Maribyrnong City Council          1221
Hume City Council                 1036
Monash City Council               1007
Port Phillip City Council          952
Yarra City Council                 918
Stonnington City Council           884
Manningham City Council            842
Hobsons Bay City Council           799
Kingston City Council              735
Whittlesea City Council            709
Wyndham City Council               492
Whitehorse City Council            435
Maroondah City Council             356
Knox City Council                  287
Melton City Council                243
Frankston City Council             229
Greater Dandenong City Council     209
Casey City Council                 138
Nillumbik Shire Council             78
Yarra Ranges Shire Council          71
Macedon Ranges Shire Council        39
Cardinia Shire Council              26
Mitchell Shire Council              11
Moorabool Shire Council              5
0                                    3
Name: CouncilArea, dtype: int64

In [246]:
CouncilArea_map=data1.CouncilArea.value_counts().to_dict()

data1.CouncilArea= data1.CouncilArea.map(CouncilArea_map)
data1.head(10)

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Longtitude,Regionname,Propertycount,Car_random,Type_t,Type_u,Method_S,Method_SA,Method_SP,Method_VB
1,102,1,2,1480000.0,650,360,2.5,3067.0,2.00000,1.000000,...,144.998400,Northern Metropolitan,4019.0,1.0,0,0,1,0,0,0
2,102,1,2,1035000.0,650,35,2.5,3067.0,2.00000,1.000000,...,144.993400,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
4,102,4,3,1465000.0,650,416,2.5,3067.0,3.00000,2.000000,...,144.994400,Northern Metropolitan,4019.0,0.0,0,0,0,0,1,0
5,102,1,3,850000.0,650,416,2.5,3067.0,3.00000,2.000000,...,144.996900,Northern Metropolitan,4019.0,1.0,0,0,0,0,0,0
6,102,1,4,1600000.0,2735,284,2.5,3067.0,3.00000,1.000000,...,144.994100,Northern Metropolitan,4019.0,2.0,0,0,0,0,0,1
10,102,1,2,941000.0,2532,309,2.5,3067.0,2.00000,1.000000,...,144.995300,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
11,102,1,3,1876000.0,2735,309,2.5,3067.0,4.00000,2.000000,...,144.999300,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
14,102,1,2,1636000.0,2735,317,2.5,3067.0,2.00000,1.000000,...,144.995400,Northern Metropolitan,4019.0,2.0,0,0,1,0,0,0
15,102,1,3,1000000.0,2532,317,2.5,3067.0,3.08465,1.624747,...,145.001845,Northern Metropolitan,4019.0,0.0,0,0,1,0,0,0
16,102,1,2,745000.0,2532,317,2.5,3067.0,3.08465,1.624747,...,145.001845,Northern Metropolitan,4019.0,1.0,1,0,1,0,0,0

In [247]:
Regionname_map=data1.Regionname.value_counts().to_dict()
Regionname_map
data1.Regionname= data1.Regionname.map(Regionname_map)
data1.head(10)

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Longtitude,Regionname,Propertycount,Car_random,Type_t,Type_u,Method_S,Method_SA,Method_SP,Method_VB
1,102,1,2,1480000.0,650,360,2.5,3067.0,2.00000,1.000000,...,144.998400,7864,4019.0,1.0,0,0,1,0,0,0
2,102,1,2,1035000.0,650,35,2.5,3067.0,2.00000,1.000000,...,144.993400,7864,4019.0,0.0,0,0,1,0,0,0
4,102,4,3,1465000.0,650,416,2.5,3067.0,3.00000,2.000000,...,144.994400,7864,4019.0,0.0,0,0,0,0,1,0
5,102,1,3,850000.0,650,416,2.5,3067.0,3.00000,2.000000,...,144.996900,7864,4019.0,1.0,0,0,0,0,0,0
6,102,1,4,1600000.0,2735,284,2.5,3067.0,3.00000,1.000000,...,144.994100,7864,4019.0,2.0,0,0,0,0,0,1
10,102,1,2,941000.0,2532,309,2.5,3067.0,2.00000,1.000000,...,144.995300,7864,4019.0,0.0,0,0,1,0,0,0
11,102,1,3,1876000.0,2735,309,2.5,3067.0,4.00000,2.000000,...,144.999300,7864,4019.0,0.0,0,0,1,0,0,0
14,102,1,2,1636000.0,2735,317,2.5,3067.0,2.00000,1.000000,...,144.995400,7864,4019.0,2.0,0,0,1,0,0,0
15,102,1,3,1000000.0,2532,317,2.5,3067.0,3.08465,1.624747,...,145.001845,7864,4019.0,0.0,0,0,1,0,0,0
16,102,1,2,745000.0,2532,317,2.5,3067.0,3.08465,1.624747,...,145.001845,7864,4019.0,1.0,1,0,1,0,0,0

In [248]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
df_minmax=pd.DataFrame(min_max.fit_transform(data1),columns=data1.columns)
df_minmax

,Suburb,Address,Rooms,Price,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,...,Longtitude,Regionname,Propertycount,Car_random,Type_t,Type_u,Method_S,Method_SA,Method_SP,Method_VB
0,0.139118,0.000000,0.066667,0.125506,0.237381,0.408210,0.051975,0.770990,0.100000,0.111111,...,0.521160,0.921362,0.185635,0.038462,0.0,0.0,1.0,0.0,0.0,0.0
1,0.139118,0.000000,0.066667,0.085470,0.237381,0.037628,0.051975,0.770990,0.100000,0.111111,...,0.516625,0.921362,0.185635,0.000000,0.0,0.0,1.0,0.0,0.0,0.0
2,0.139118,1.000000,0.133333,0.124157,0.237381,0.472064,0.051975,0.770990,0.150000,0.222222,...,0.517532,0.921362,0.185635,0.000000,0.0,0.0,0.0,0.0,1.0,0.0
3,0.139118,0.000000,0.133333,0.068826,0.237381,0.472064,0.051975,0.770990,0.150000,0.222222,...,0.519799,0.921362,0.185635,0.038462,0.0,0.0,0.0,0.0,0.0,0.0
4,0.139118,0.000000,0.200000,0.136302,1.000000,0.321551,0.051975,0.770990,0.150000,0.111111,...,0.517260,0.921362,0.185635,0.076923,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27242,0.342975,0.333333,0.200000,0.125506,0.149232,0.822121,0.130977,0.757416,0.200000,0.111111,...,0.418009,0.678330,0.302217,0.115385,0.0,0.0,0.0,0.0,0.0,0.0
27243,0.342975,0.000000,0.066667,0.072245,0.137162,0.822121,0.130977,0.757416,0.100000,0.222222,...,0.421265,0.678330,0.302217,0.038462,0.0,0.0,0.0,0.0,1.0,0.0
27244,0.342975,0.000000,0.066667,0.055780,0.149232,0.822121,0.130977,0.757416,0.100000,0.111111,...,0.412467,0.678330,0.302217,0.076923,1.0,0.0,1.0,0.0,0.0,0.0
27245,0.342975,0.000000,0.133333,0.094917,0.771397,0.822121,0.130977,0.757416,0.154233,0.180527,...,0.524284,0.678330,0.302217,0.115385,0.0,0.0,0.0,0.0,1.0,0.0
27246,0.342975,0.000000,0.066667,0.084121,0.079737,0.822121,0.130977,0.757416,0.100000,0.111111,...,0.426027,0.678330,0.302217,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [250]:
data1.corr()['Price']

Suburb           0.055870
Address          0.037582
Rooms            0.465238
Price            1.000000
SellerG          0.061020
Date             0.044431
Distance        -0.211382
Postcode         0.045002
Bedroom2         0.380414
Bathroom         0.379460
Landsize         0.027098
BuildingArea     0.066239
YearBuilt       -0.231203
CouncilArea      0.185795
Lattitude       -0.190457
Longtitude       0.174476
Regionname       0.166129
Propertycount   -0.058910
Car_random       0.151958
Type_t          -0.063657
Type_u          -0.346388
Method_S         0.002691
Method_SA       -0.008840
Method_SP       -0.104156
Method_VB        0.074224
Name: Price, dtype: float64